body {
    margin: 0;
    padding: 0;
    width: 100%;
     background-color: black;
}

.space{
    display: flex;
    /* justify-content: center;
    align-items:center; */
    text-align: center;
   
    margin:0;
    overflow: hidden; /* background:url("img/background/desktop.ini.jpg") no-repeat center left; */
}

.solar__system{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:top;
    text-align: center;
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
    padding-top: 10vh;
   top: 0;
    transform: scale(0.9);
}

.solar__system{
    animation: solar__system 900s linear infinite forwards;
}
@keyframes solar__system{
    0%{
        /* transform: rotate(0); */
        background:url("img/background/desktop.ini.jpg") no-repeat center left;
    }
    25%{
        /* transform: rotate(180deg); */
        background:url("img/background/desktop.ini.jpg") no-repeat top center;
    }
    50%{
        /* transform: rotate(360deg); */
        background:url("img/background/desktop.ini.jpg") no-repeat center right;
    }
    75%{
        /* transform: rotate(540deg); */
        background:url("img/background/desktop.ini.jpg") no-repeat bottom center;
    }
}


.planet{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    border-radius: 50%;    
    transform-origin: center;
}

.planet img{
    border-radius: 50%;
}

.jupiter,
.saturn,
.uran,
.neptun,
.mercury,
.venus,
.earth,
.mars {
    transform-origin: center;
    position: absolute;
    border:1px solid white;
    border-radius: 50%;
}


.mercury{
    width: 17%;
    height: 15%;
}
.venus{
    width: 23%;
    height: 15%;
}
.earth{
    width: 26%;
    height: 25%;
}
.mars{
    width: 28%;
    height: 33%;
}
.jupiter{
    width: 58%;
    height: 50%;
}
.saturn{
    width: 52%;
    height:62%;
}
.uran{
    width:75% ;
    height:62% ;
}
.neptun{
    width: 76%;
    height: 88%;
}

.saturn img,
.uran img{
    transform: scale(2);
}

.sun{
    position: absolute;
    box-shadow: /* inset */ 0 0 105px 25px rgba(255,69,0,0.5);
    border-radius: 50%;
    background-color:rgba(255,255,0,0.2);
}

.sun .planet{
    top: 60%;
    left: 60%;
}
.sun__rotate{
    animation: sun__rotate 30s linear infinite forwards;
}
@keyframes sun__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.mercury .planet{
    top: 60%;
    left: 60%;
}
.mercury__rotate{
    animation: mercury__rotate 30s linear infinite forwards;
}
@keyframes mercury__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.venus .planet{ 
    top:40%;
    left:40%;
}
.venus__rotate{
    animation: venus__rotate 45s linear infinite forwards;
}
@keyframes venus__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.earth .planet{  
    top: 35%;
    left: 35%;
}
.earth__rotate{
    animation: earth__rotate 18s linear infinite forwards;
}
@keyframes earth__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.mars .planet{ 
     top: 30%;
    left: 30%;
}
.mars__rotate{
    animation: mars__rotate 25s linear infinite forwards;
}
@keyframes mars__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.jupiter .planet{
    top: 25%;
    left: 25%;
}
.jupiter__rotate{
    animation: jupiter__rotate 70s linear infinite forwards;
}
@keyframes jupiter__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.saturn .planet{ 
    top:20%;
    left:20%;
}
.saturn__rotate{
    animation: saturn__rotate 110s linear infinite forwards;
}
@keyframes saturn__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.uran .planet{  
    top: 15%;
    left: 15%;
}
.uran__rotate{
    animation: uran__rotate 140s linear infinite forwards;
}
@keyframes uran__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.neptun .planet{
    top: 8%;
    left: 8%;
}
.neptun__rotate{
    animation: neptun__rotate 70s linear infinite forwards;
}
@keyframes neptun__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}




















