body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}

/* .wrapper{
    transform: scale(0.5);
} */

.space{
    display: flex;
    margin:0;
   /*  justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center; */
/*     width: 100vw;
    height: 100vw; */
    overflow: hidden;
}



.solar__system{
    padding: 0;
    list-style: none;
    position: relative;
    /* justify-content: center;
    align-content:center;
    align-items:center;
    text-align: center; */
    width: 50vw;
    height: 50vw;
    margin-left: 40vw;
    margin: 0;
}

.planet{
    display: block;
    box-shadow: inset 3px 1px 15px 5px rgba(255, 255, 255, 1);
    border:5% solid white;
    border-radius: 50%;    
    transform-origin: center;
}


.jupiter,
.saturn,
.uran,
.neptun,
.mercury,
.venus,
.earth,
.mars {
    
    transform-origin: center;
    position: absolute;
    border:5px solid white;
    border-radius: 50%;
}


.mercury{
    width: 10%;
    height: 12%;
}
.venus{
    width: 10%;
    height: 15%;
}
.earth{
    width: 20%;
    height: 25%;
}
.mars{
    width: 35%;
    height: 32%;
}
.jupiter{
    width: 55%;
    height: 58%;
}
.saturn{
    width: 60%;
    height:72%;
}
.uran{
    width: 80%;
    height: 75%;
}
.neptun{
    width: 80%;
    height: 90%;
}

.sun{
    /* width: 35vh;
    height: 35vh; */
   /*   top: 45%;
    left: 45%; */
   /*  transform-origin: center; */
    position: absolute;
    box-shadow: inset 20px 1px 105px 25px orangered;
    border:5% solid white;
    border-radius: 50%;
    background-color:yellow;
}

/* .sun__rotate{
    animation: mercury__rotate 80s linear infinite forwards;
}
@keyframes mercury__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}
 */

.mercury .planet{
   /*  width: 2vh;
    height: 2vh;
    */  top: 60%;
    left: 60%;
}
.mercury__rotate{
    animation: mercury__rotate 30s linear infinite forwards;
}
@keyframes mercury__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.venus .planet{
   /*  width: 4vh;
    height: 4vh;
    */  top:40%;
    left:40%;
}
.venus__rotate{
    animation: venus__rotate 45s linear infinite forwards;
}
@keyframes venus__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.earth .planet{
   /*  width: 4.5vh;
    height: 4.5vh;
    */  top: 35%;
    left: 35%;
}
.earth__rotate{
    animation: earth__rotate 18s linear infinite forwards;
}
@keyframes earth__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.mars .planet{
   /*  width: 3vh;
    height: 3vh;
    */  top: 30%;
    left: 30%;
}
.mars__rotate{
    animation: mars__rotate 25s linear infinite forwards;
}
@keyframes mars__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.jupiter .planet{
   /*  width: 16vh;
    height: 16vh;
    */  top: 25%;
    left: 25%;
}
.jupiter__rotate{
    animation: jupiter__rotate 70s linear infinite forwards;
}
@keyframes jupiter__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.saturn .planet{
   /*  width: 14vh;
    height: 14vh;
    */  top:20%;
    left:20%;
}
.saturn__rotate{
    animation: saturn__rotate 110s linear infinite forwards;
}
@keyframes saturn__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.uran .planet{
   /*  width: 8vh;
    height: 8vh;
    */  top: 15%;
    left: 15%;
}
.uran__rotate{
    animation: uran__rotate 140s linear infinite forwards;
}
@keyframes uran__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}


.neptun .planet{
   /*  width: 9vh;
    height: 9vh;
    */  top: 8%;
    left: 8%;
}
.neptun__rotate{
    animation: neptun__rotate 70s linear infinite forwards;
}
@keyframes neptun__rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}




















